/*Header/Logo*/

#first {
        
        /*background: url(backgroundimage.jpg) no-repeat center center fixed;*/
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        color: white;
}

.header {
        color: black;
        font-family: Raleway;
        text-align: center;
        font-size:  75px;
 /*       padding-top: 55%;*/
/*        padding-bottom: 10%;*/
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: transparent;
}
`
.message {
        color: black;
        font-family: Raleway;
        text-align: center;
        font-size: 17px;
        padding-top: 65%;
        padding-bottom: 115%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: transparent;
}

/*Who are we?*/

#second {
        background: url(backgroundimage.jpg) no-repeat center center fixed;
	background-color: white;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.who-are-we {
        color: white;
        font-family: Raleway;
        text-align: center;
        font-size: 17px;
        padding-top: 35%;
        padding-bottom: 35%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: transparent;
}

/*How do we do what we do?*/

#third {
        /*        background: url(backgroundimage2.jpg) no-repeat center center fixed;*/
        background-color: black;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.what-do-we-do {
        color: white;
        font-family: Raleway;
        text-align: left;
        font-size: 17px;
        padding-top: 51%;
        padding-bottom: 18%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: transparent;
}

.portalmockup {
        text-align: right;
        padding-top: 18%;
        padding-bottom: 8%;
}

#fourth {
/*        background: url(backgroundimage2.jpg) no-repeat center center fixed;*/
        background-color: white;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.community {
        color: black;
        font-family: Raleway;
        text-align: left;
        font-size: 17px;
        padding-top: 51%;
        padding-bottom: 18%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: transparent;
}



#fifth {
        /*        background: url(backgroundimage2.jpg) no-repeat center center fixed;*/
        background-color: black;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

}

.notes {
        color: white;
        font-family: Raleway;
        text-align: left;
        font-size: 17px;
        padding-top: 51%;
        padding-bottom: 18%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: transparent;
}

#sixth {
        background-color: white;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.parting-message {
        color: black;
        font-family: Raleway;
        text-align: center;
        font-size: 17px;
        padding-top: 80%;
        padding-bottom: 75%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: transparent;
}