html {
	background: url(backgroundimage.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1 {
	font-family: Raleway;
	font-size: 95px;
}

/*Has been postioned*/ 
.message {
	color: white;
	font-family: Raleway;
	text-align: center;
	position:fixed;
    top: 50%;
    left: 38%;
    width:50em;
    height:12em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    background-color: transparent;
}

